<extend name="Public:base" />
	
	<block name="title">
		<title>编辑收支认领</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">编辑收支认领</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/edit">
						<fieldset>
							<legend>“认领人员”是必须的</legend>
							<div class="form-group">
								<label for="claimer_id" class="col-lg-3 control-label">认领人(交款人/责任人)</label>
								<div class="col-lg-9">
									<select multiple class="form-control" name="claimer_id">
										<volist name="member_list" id="member_list">
										<option value="{$member_list.member_id}" {$member_list['member_id']==$claim_list['claimer_id']? 'selected="selected"' :''}>{$member_list.member_name}</option>
										</volist>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="claim_date" class="col-lg-3 control-label">认领日期</label>
								<div class="col-lg-9">
									<input type="hidden" class="form-control" id="claim_id" name="claim_id" value="{$claim_list.claim_id}">
									<input type="date" class="form-control" id="claim_date" name="claim_date" value="{$claim_list.claim_date|date="Y-m-d",###}">
								</div>
							</div>
							<div class="form-group">
								<label for="balance_id" class="col-lg-3 control-label">账户流水编号</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" id="balance_id" name="balance_id" value="{$claim_list.balance_id}">
								</div>
							</div>
							<div class="form-group">
								<label for="total_amount" class="col-lg-3 control-label">总金额</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" id="total_amount" name="total_amount" value="{$claim_list.total_amount}">
								</div>
							</div>
							<div class="form-group">
								<label for="official_fee" class="col-lg-3 control-label">官费部分</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" id="official_fee" name="official_fee" value="{$claim_list.official_fee}">
								</div>
							</div>
							<div class="form-group">
								<label for="service_fee" class="col-lg-3 control-label">服务费部分</label>
								<div class="col-lg-9">
									<input type="text" class="form-control" id="service_fee" name="service_fee" value="{$claim_list.service_fee}">
								</div>
							</div>
							<div class="form-group">
								<label for="client_id" class="col-lg-3 control-label">客户(付款人/收款人)</label>
								<div class="col-lg-9">
									<select multiple class="form-control" name="client_id">
										<volist name="client_list" id="client_list">
										<option value="{$client_list.client_id}" {$client_list['client_id']==$claim_list['client_id']? 'selected="selected"' :''}>{$client_list.client_name}</option>
										</volist>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default">Cancel</button>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>