<extend name="Public:base" />
	
	<block name="title">
		<title>更新</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="forms">更新</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
						<fieldset>
							<legend>尽量填写完整每一项</legend>
							<!-- 隐藏域开始 -->
							<input type="hidden" class="form-control" id="balance_id" name="balance_id" value="{$balance_list.balance_id}">
							<!-- 隐藏域结束 -->
							<div class="form-group">
								<label for="account_id" class="col-lg-3 control-label">账户名称</label>
								<div class="col-lg-4">
									<select class="form-control" name="account_id">
										<option value="" {$balance_list['account_id']==0	? 'selected="selected"' :'' }></option>
										<volist name="account_list" id="account_vo">
										<option value="{$account_vo.account_id}" {$account_vo['account_id']==$balance_list['account_id']? 'selected="selected"' :'' }>{$account_vo.account_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									<p>用鼠标选择</p>
								</div>
							</div>
							<div class="form-group">
								<label for="deal_date" class="col-lg-3 control-label">交易日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="deal_date" name="deal_date" placeholder="deal_date" value="{$balance_list['deal_date']	?	date("Y-m-d",$balance_list['deal_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							<div class="form-group">
								<label for="income_amount" class="col-lg-3 control-label">收入金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="income_amount" name="income_amount" value="{$balance_list['income_amount']	?	$balance_list['income_amount']/100	:	''}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							<div class="form-group">
								<label for="outcome_amount" class="col-lg-3 control-label">支出金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="outcome_amount" name="outcome_amount" value="{$balance_list['outcome_amount']	?	$balance_list['outcome_amount']/100	:	''}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							<div class="form-group">
								<label for="summary" class="col-lg-3 control-label">交易摘要</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="summary" name="summary" value="{$balance_list.summary}">
								</div>
								<div class="col-lg-5">
									用于备注本笔流水
								</div>
							</div>
							<div class="form-group">
								<label for="other_party" class="col-lg-3 control-label">对方当事人</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="other_party" name="other_party" value="{$balance_list.other_party}">
								</div>
								<div class="col-lg-5">
									“收入”则填付款人名称，“支出”则填收款人名称			
								</div>
							</div>
							<div class="form-group">
								<label for="follower_id" class="col-lg-3 control-label">跟进人员</label>
								<div class="col-lg-4">
									<select class="form-control" name="follower_id">
										<option value="" {$balance_list['follower_id']==0	? 'selected="selected"' :'' }></option>
										<volist name="member_list" id="member_vo">
										<option value="{$member_vo.member_id}" {$member_vo['member_id']==$balance_list['follower_id']? 'selected="selected"' :'' }>{$member_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									“跟进人员”主要是方便财务知道找谁咨询款项的信息			
								</div>
							</div>
							<div class="form-group">
								<label for="bill_id" class="col-lg-3 control-label">账单编号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="bill_id" name="bill_id" value="{$balance_list['bill_id']	?	$balance_list['bill_id']	:	''}">
								</div>
								<div class="col-lg-5">
									营业收入应当填写账单编号。			
								</div>
							</div>
							
							<div class="form-group">
								<label for="case_payment_id" class="col-lg-3 control-label">缴费单编号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="case_payment_id" name="case_payment_id" value="{$balance_list['case_payment_id']	?	$balance_list['case_payment_id']	:	''}">
								</div>
								<div class="col-lg-5">
									如果缴纳专利费，应当填写缴费单编号。			
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button type="reset" value="reset" class="btn btn-default"> 取消 </button>
									<button type="submit" value="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>