<extend name="Public:base" />
	
	<block name="title">
		<title>更新</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">更新</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
						<fieldset>
							<legend>“盈方案号”是必须的</legend>
							<div class="form-group">
								<label for="our_ref" class="col-lg-3 control-label">盈方案号</label>
								<div class="col-lg-4">
									<input type="hidden" class="form-control" id="case_id" name="case_id" value="{$case_list.case_id}">
									<input type="text" class="form-control" id="our_ref" name="our_ref" value="{$case_list.our_ref}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="case_type_id" class="col-lg-3 control-label">案件类型</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="case_type_id" size="{$case_type_count<$rows_limit ? $case_type_count : $rows_limit}">
										<volist name="case_type_list" id="case_type_vo">
										<option value="{$case_type_vo.case_type_id}" {$case_type_vo['case_type_id']==$case_list['case_type_id']? 'selected="selected"' :''}>{$case_type_vo.case_type_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="__APP__/Home/CaseType/listPage#addNew" target="_blank">这里</a>添加更多案件类型
								</div>
							</div>
							
							<div class="form-group">
								<label for="follower_id" class="col-lg-3 control-label">跟案人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="follower_id" size="{$member_count<$rows_limit ? $member_count : $rows_limit}">
										<volist name="member_list" id="follower_vo">
										<option value="{$follower_vo.member_id}" {$follower_vo['member_id']==$case_list['follower_id']? 'selected="selected"' :''}>{$follower_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="__APP__/Home/Account/listPage#addNew" target="_blank">这里</a>添加更多的跟案人
								</div>
							</div>
							
							<div class="form-group">
								<label for="create_date" class="col-lg-3 control-label">开案日期{$case_list.create_date}和{$case_list.create_date|date="Y-m-d",###}</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="create_date" name="create_date" value="{$case_list.create_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									开案日期，是指“索取案号”的日期，案号被索取之后， 应当马上在系统登记，避免案号重复使用
								</div>
							</div>
							
							<div class="form-group">
								<label for="form_date" class="col-lg-3 control-label">提供开案单日期 {$case_list.form_date} 和 {$case_list.form_date|date="Y-m-d",###}</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="form_date" name="form_date" value="{$case_list.form_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									开案单日期，是指收到了开案单的日期，如果日期为空，表示尚未收到开案单。
								</div>
							</div>
							
							<div class="form-group">
								<label for="client_id" class="col-lg-3 control-label">客源/客户</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="client_id" size="{$client_count<$rows_limit ? $client_count : $rows_limit}">
										<volist name="client_list" id="client_vo">
										<option value="{$client_vo.client_id}" {$client_vo['client_id']==$case_list['client_id']? 'selected="selected"' :''}>{$client_vo.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="__APP__/Home/Client/listPage#addNew" target="_blank">这里</a>添加更多的客源
								</div>
							</div>
							
							<div class="form-group">
								<label for="client_ref" class="col-lg-3 control-label">对方案号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="client_ref" name="client_ref" value="{$case_list.client_ref}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="applicant_id" class="col-lg-3 control-label">申请人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="applicant_id" size="{$client_count<$rows_limit ? $client_count : $rows_limit }">
										<volist name="client_list" id="applicant_vo">
										<option value="{$applicant_vo.client_id}" {$applicant_vo['client_id']==$case_list['applicant_id']? 'selected="selected"' :''}>{$applicant_vo.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="__APP__/Home/Client/listPage#addNew" target="_blank">这里</a>添加更多的申请人
								</div>
							</div>
							
							<div class="form-group">
								<label for="tentative_title" class="col-lg-3 control-label">暂定专利名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="tentative_title" name="tentative_title" value="{$case_list.tentative_title}">
								</div>
								<div class="col-lg-5">
									如果不是商标业务，本项为空，不需填写
								</div>
							</div>
							
							<div class="form-group">
								<label for="handler_id" class="col-lg-3 control-label">处理人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="handler_id" size="{$member_count<$rows_limit ? $member_count : $rows_limit}">
										<volist name="member_list" id="handler_vo">
										<option value="{$handler_vo.member_id}" {$handler_vo['member_id']==$case_list['handler_id']? 'selected="selected"' :''}>{$handler_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="__APP__/Home/Account/listPage#addNew" target="_blank">这里</a>添加更多的处理人
								</div>
							</div>						
							

							<div class="form-group">
								<label for="remarks" class="col-lg-3 control-label">备注</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="remarks" name="remarks" value="{$case_list.remarks}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="related_our_ref" class="col-lg-3 control-label">关联的盈方案号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="related_our_ref" name="related_our_ref" placeholder="关联的盈方案号" value="{$case_list.related_our_ref}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="application_date" class="col-lg-3 control-label">申请日</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="application_date" name="application_date" value="{$case_list.application_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="application_number" class="col-lg-3 control-label">申请号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="application_number" name="application_number" value="{$case_list.application_number}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="formal_title" class="col-lg-3 control-label">专利名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="formal_title" name="formal_title" value="{$case_list.formal_title}">
								</div>
								<div class="col-lg-5">
									这里填写正式的专利名称
								</div>
							</div>
							
							<div class="form-group">
								<label for="publication_date" class="col-lg-3 control-label">发明专利公布日期、商标公告日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="publication_date" name="publication_date" value="{$case_list.publication_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="issue_date" class="col-lg-3 control-label">专利/商标发证日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="issue_date" name="issue_date" value="{$case_list.issue_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="expired_date" class="col-lg-3 control-label">专利/商标失效日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="expired_date" name="expired_date" value="{$case_list.expired_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<volist name="case_list['CasePriority']" id="case_priority_vo" key="p">
							<div class="form-group">
								<label for="priority_number" class="col-lg-3 control-label">
									<p>第 {$p} 个优先权的信息</p>
									<p>点击<a href="__CONTROLLER__/view/case_id/{$case_list.case_id}" target="_blank">这里</a>增、删优先权，</p>
									<p>点击<a href="__APP__/Home/Country/listPage#addNew" target="_blank">这里</a>增加可选的国家</p>
									<input type="hidden" class="form-control" name="case_priority_id[]" value="{$case_priority_vo.case_priority_id}">
								</label>
								
								<div class="col-lg-3">
									<p>优先权国家</p>
									<select multiple class="form-control" name="priority_country_id[]" size="{$country_count<$rows_limit? $country_count: $rows_limit}">
										<volist name="country_list" id="country_vo">
										<option value="{$country_vo.country_id}" {$country_vo['country_id']==$case_priority_vo['priority_country_id']? 'selected="selected"' :''}>{$country_vo.country_name}</option>
										</volist>
									</select>
								</div>
								
								<div class="col-lg-3">
									<p>优先权号码</p>
									<input type='hidden' class="form-control" id="case_priority_id[]" name="case_priority_id[]" value="{$case_priority_vo.case_priority_id}">
									<input type="text" class="form-control" id="priority_number[]" name="priority_number[]" placeholder="优先权号码" value="{$case_priority_vo.priority_number}">
								</div>
								
								<div class="col-lg-3">
								<p>优先权日期</p>
									<input type="date" class="form-control" id="priority_date[]" name="priority_date[]" placeholder="优先权日期" value="{$case_priority_vo.priority_date|date="Y-m-d",###}">
								</div>
							</div>
							</volist>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default"> 取消 </button>
									<button type="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>