<extend name="Public:base" />
	
	<block name="title">
		<title>更新</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">更新</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
						<fieldset>
							<legend>“盈方案号”是必须的</legend>
							<div class="form-group">
								<label for="our_ref" class="col-lg-3 control-label">盈方案号</label>
								<div class="col-lg-4">
									<input type="hidden" class="form-control" id="case_id" name="case_id" value="{$case_list.case_id}">
									<input type="hidden" class="form-control" id="case_extend_id" name="case_extend_id" value="{$case_list.case_extend_id}">
									<input type="text" class="form-control" id="our_ref" name="our_ref" value="{$case_list.our_ref}">
								</div>
								<div class="col-lg-5">
									必填项；
								</div>
							</div>
							
							<div class="form-group">
								<label for="case_type_id" class="col-lg-3 control-label">案件类型</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="case_type_id" size="{$case_type_count<$row_limit ? $case_type_count : $row_limit}">
										<volist name="case_type_list" id="case_type_vo">
										<option value="{$case_type_vo.case_type_id}" {$case_type_vo['case_type_id']==$case_list['case_type_id']? 'selected="selected"' :''}>{$case_type_vo.case_type_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									必填项；<br>
									可通过<a href="{:U('CaseType/listPage#addNew')}" target="_blank">这里</a>添加更多案件类型
								</div>
							</div>
							
							<div class="form-group">
								<label for="follower_id" class="col-lg-3 control-label">跟案人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="follower_id" size="{$member_count<$row_limit ? $member_count : $row_limit}">
										<volist name="member_list" id="follower_vo">
										<option value="{$follower_vo.member_id}" {$follower_vo['member_id']==$case_list['follower_id']? 'selected="selected"' :''}>{$follower_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									必填项；<br>
									负责跟客户对接业务的人；<br>
									可通过<a href="{:U('Account/listPage#addNew')}" target="_blank">这里</a>添加更多的跟案人
								</div>
							</div>
							
							<div class="form-group">
								<label for="create_date" class="col-lg-3 control-label">开案日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="create_date" name="create_date" value="{$case_list['create_date']	?	date("Y-m-d",$case_list['create_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									“索取案号”的日期；案号被索取后应当马上在系统开案登记，避免案号重复使用
								</div>
							</div>
							
							
						</fieldset>
						<fieldset>
							<div class="form-group">
								<label for="client_id" class="col-lg-3 control-label">客源/客户</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="client_id" size="{$client_count<$row_limit ? $client_count : $row_limit}">
										<volist name="client_list" id="client_vo">
										<option value="{$client_vo.client_id}" {$client_vo['client_id']==$case_list['client_id']? 'selected="selected"' :''}>{$client_vo.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									必填项；<br>
									应盈方付款的就是盈方的客户；<br>
									可通过<a href="{:U('Client/listPage#addNew')}" target="_blank">这里</a>添加更多的客源
								</div>
							</div>
							
							<div class="form-group">
								<label for="client_ref" class="col-lg-3 control-label">对方案号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="client_ref" name="client_ref" value="{$case_list.client_ref}">
								</div>
								<div class="col-lg-5">
									如客户有自己的案号，必须填写
								</div>
							</div>
							
							<div class="form-group">
								<label for="applicant_id" class="col-lg-3 control-label">申请人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="applicant_id" size="{$client_count<$row_limit ? $client_count : $row_limit }">
										<volist name="client_list" id="applicant_vo">
										<option value="{$applicant_vo.client_id}" {$applicant_vo['client_id']==$case_list['applicant_id']? 'selected="selected"' :''}>{$applicant_vo.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									必填项；<br>
									指权利人；如申请人不与盈方直接对接，则该申请人不属于“客户”；<br>
									可通过<a href="{:U('Client/listPage#addNew')}" target="_blank">这里</a>添加更多的申请人
								</div>
							</div>
							
							<div class="form-group">
								<label for="tentative_title" class="col-lg-3 control-label">暂定名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="tentative_title" name="tentative_title" value="{$case_list.tentative_title}">
								</div>
								<div class="col-lg-5">
									暂定专利名称；或商标名称
								</div>
							</div>
						</fieldset>
						<fieldset>
							<div class="form-group">
								<label for="handler_id" class="col-lg-3 control-label">处理人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="handler_id" size="{$member_count<$row_limit ? $member_count : $row_limit}">
										<volist name="member_list" id="handler_vo">
										<option value="{$handler_vo.member_id}" {$handler_vo['member_id']==$case_list['handler_id']? 'selected="selected"' :''}>{$handler_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									负责处理此项工作的人；<br>
									可通过<a href="{:U('Member/listPage#addNew')}" target="_blank">这里</a>添加更多的处理人
								</div>
							</div>						
							

							<div class="form-group">
								<label for="remarks" class="col-lg-3 control-label">备注</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="remarks" name="remarks" value="{$case_list.remarks}">
								</div>
								<div class="col-lg-5">
									填写本案的其他注意事项；
								</div>
							</div>
							
							<div class="form-group">
								<label for="related_our_ref" class="col-lg-3 control-label">关联的盈方案号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="related_our_ref" name="related_our_ref" placeholder="关联的盈方案号" value="{$case_list.related_our_ref}">
								</div>
								<div class="col-lg-5">
									如专利套餐、系列商标申请，请填写关联的案号，方便查看
								</div>
							</div>
							
							<div class="form-group">
								<label for="application_date" class="col-lg-3 control-label">申请日</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="application_date" name="application_date" value="{$case_list['application_date']	?	date("Y-m-d",$case_list['application_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									正式的申请日
								</div>
							</div>
							
							<div class="form-group">
								<label for="application_number" class="col-lg-3 control-label">申请号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="application_number" name="application_number" value="{$case_list.application_number}">
								</div>
								<div class="col-lg-5">
									正式的申请号
								</div>
							</div>
							
							<div class="form-group">
								<label for="formal_title" class="col-lg-3 control-label">专利名称、商标类别</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="formal_title" name="formal_title" value="{$case_list.formal_title}">
								</div>
								<div class="col-lg-5">
									专利/版权案子，这里填写正式的名称；<br>
									商标案子，这里填写指定的商标类别
								</div>
							</div>
							
							<div class="form-group">
								<label for="publication_date" class="col-lg-3 control-label">发明专利公布日期、商标公告日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="publication_date" name="publication_date" value="{$case_list['publication_date']	?	date("Y-m-d",$case_list['publication_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="issue_date" class="col-lg-3 control-label">专利/商标发证日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="issue_date" name="issue_date" value="{$case_list['issue_date']	?	date("Y-m-d",$case_list['issue_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="expired_date" class="col-lg-3 control-label">专利/商标失效日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="expired_date" name="expired_date" value="{$case_list['expired_date']	?	date("Y-m-d",$case_list['expired_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default"> 取消 </button>
									<button type="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>