<extend name="Public:base" />
	
	<block name="title">
		<title>编辑账单</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">编辑账单</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/edit">
						<fieldset>
							<legend>“认领人员”是必须的</legend>
							<div class="form-group">
								<label for="handler_id" class="col-lg-3 control-label">认领人(交款人/责任人)</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="handler_id">
										<volist name="member_list" id="member_list">
										<option value="{$member_list.member_id}" {$member_list['member_id']==$bill_list['handler_id']? 'selected="selected"' :''}>{$member_list.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="bill_date" class="col-lg-3 control-label">出单日期</label>
								<div class="col-lg-4">
									<input type="hidden" class="form-control" id="bill_id" name="bill_id" value="{$bill_list.bill_id}">
									<input type="date" class="form-control" id="bill_date" name="bill_date" value="{$bill_list.bill_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							<div class="form-group">
								<label for="client_id" class="col-lg-3 control-label">收单人（客户）</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="client_id">
										<volist name="client_list" id="client_list">
										<option value="{$client_list.client_id}" {$client_list['client_id']==$bill_list['client_id']? 'selected="selected"' :''}>{$client_list.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							<div class="form-group">
								<label for="total_amount" class="col-lg-3 control-label">总金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="total_amount" name="total_amount" value="{$bill_list.total_amount}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							<div class="form-group">
								<label for="official_fee" class="col-lg-3 control-label">官费部分</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="official_fee" name="official_fee" value="{$bill_list.official_fee}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							<div class="form-group">
								<label for="service_fee" class="col-lg-3 control-label">服务费部分</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="service_fee" name="service_fee" value="{$bill_list.service_fee}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<volist name="bill_list['BillInvoice']" id="bill_invoice_list">
							<div class="form-group">
								
								
								<label for="invoice_id" class="col-lg-3 control-label">第{$i}张发票编号</label>
								<div class="col-lg-4">
									<input type='hidden' class="form-control" id="bill_invoice_id[]" name="bill_invoice_id[]" value="{$bill_invoice_list.bill_invoice_id}">
									<input type="text" class="form-control" id="invoice_id[]" name="invoice_id[]" value="{$bill_invoice_list.invoice_id}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							</volist>
							
							<div class="form-group">
								<label for="invoice_id" class="col-lg-3 control-label">新增发票编号1</label>
								<div class="col-lg-4">
									<input type='hidden' class="form-control" id="bill_invoice_id[]" name="bill_invoice_id[]" value="">
									<input type="text" class="form-control" id="invoice_id[]" name="invoice_id[]" placeholder="请填入发票编号">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="invoice_id" class="col-lg-3 control-label">新增发票编号2</label>
								<div class="col-lg-4">
									<input type='hidden' class="form-control" id="bill_invoice_id[]" name="bill_invoice_id[]">
									<input type="text" class="form-control" id="invoice_id[]" name="invoice_id[]" placeholder="请填入发票编号">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default">Cancel</button>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>