<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>搜索账单</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>搜索条件</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					如果不填写日期，默认就查找最近一个月开的账单
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>最早账单日</th>
								<th>最小账单金额</th>
								<th>客户（收单人）</th>
								<th>到账情况</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<form class="form-inline" id="form_for_search_new" method="post" action="__CONTROLLER__/search">
								<td>
									<input type="date" class="form-control" id="start_time" name="start_time" placeholder="最早账单日" value="{$start_time	?	date("Y-m-d",$start_time)	:	''}"></td>
								<td>
									<input type="text" class="form-control" id="start_amount" name="start_amount" size="2" value="{$start_amount/100}"></td>
								<td>
									<select class="form-control" name="client_id">
									<option value="0"> 不限 </option>
									<volist name="client_list" id="client_vo">
									<option value="{$client_vo.client_id}" {$client_vo['client_id']==$client_id	?	'selected="selected"'	:	''}>{$client_vo.client_name}</option>
									</volist>
									</select></td>
								<td>
									<select class="form-control" name="is_paid">
									<option value="0" {$is_paid==0	?	'selected="selected"'	:	''}> 不限 </option>
									<option value="1" {$is_paid==1	?	'selected="selected"'	:	''}> 全额到账 </option>
									<option value="2" {$is_paid==2	?	'selected="selected"'	:	''}> 未全额到账 </option>
									</select></td>
								
							</tr>
							<tr class="info">
								<th>最晚账单日</th>
								<th>最大账单金额</th>
								<th>跟进人员</th>
								<th>&nbsp;</th>
								
							</tr>
							<tr>
								<td>
									<input type="date" class="form-control" id="end_time" name="end_time" placeholder="最晚账单日" value="{$end_time	?	date("Y-m-d",$end_time)	:	''}"></td>
								<td>
									<input type="text" class="form-control" id="end_amount" name="end_amount" size="5" value="{$end_amount/100}"></td>
								<td>
									<select class="form-control" name="follower_id">
										<option value="0"> 不限 </option>
										<volist name="member_list" id="member_vo">
										<option value="{$member_vo.member_id}"} {$member_vo['member_id']==$follower_id	?	'selected="selected"'	:	''}>{$member_vo.member_name}</option>
										</volist>
									</select></td>								
								<td><button type="submit" value="submit" class="btn btn-primary">搜</button></td>
							</form>
							</tr>
						</tbody>
					</table> 
				</div>
				
					
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>搜索结果（共{$bill_count}项）</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					<p>“编号”是唯一的，发票、到账、缴款单都是关联到这个“编号”。点击编号能查看详情。</p>
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>编号</th>
								<th>跟案人</th>
								<th>账单日期</th>
								<th>收单人（客户）</th>
								<th>总金额</th>
								<th>官费</th>
								<th>服务费</th>
								<th>其他费用</th>
								<th>到账情况</th>
								<th>常用操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="bill_list" id="bill_vo">
							<tr>
								<td><a href="{:U('Bill/view','bill_id='.$bill_vo['bill_id'])}">{$bill_vo.bill_id}</a></td>
								<td>{$bill_vo.member_name}</td>
								<td>{$bill_vo['bill_date']	?	date("Y/m/d",$bill_vo['bill_date'])	:	''}</td>
								<td>{$bill_vo.client_name}</td>
								<td align="right">{$bill_vo['total_amount']	?	$bill_vo['total_amount']/100	:	''}</td>
								<td align="right">{$bill_vo['official_fee']	?	$bill_vo['official_fee']/100	:	''}</td>
								<td align="right">{$bill_vo['service_fee']	?	$bill_vo['service_fee']/100	:	''}</td>
								<td align="right">{$bill_vo['other_fee']	?	$bill_vo['other_fee']/100	:	''}</td>
								<td align="right">
									<volist name="bill_vo['Balance']" id="balance_vo">
									<a href="{:U('Claim/view','balance_id='.$balance_vo['balance_id'])}" target="_blank">{$balance_vo.balance_id}</a>, ￥{$balance_vo['income_amount']/100	-	$balance_vo['outcome_amount']/100}<br>
									</volist>
									{$bill_vo.is_paid}
								</td>
								<td>
									<a href="{:U('Bill/update','bill_id='.$bill_vo['bill_id'])}">更新</a>、
									<a href="{:U('Bill/detail','bill_id='.$bill_vo['bill_id'])}">查看明细</a><br>
									<a href="{:U('Bill/view','bill_id='.$bill_vo['bill_id'])}">查看发票与交款</a><br>
								</td>
							</tr>
							</volist>                 
						</tbody>
					</table> 
					{$bill_page}
				</div><!-- /example -->
			</div>
        </div>
		
		<a name="addNew"></a>
		<!-- Forms
			================================================== -->
	    <div class="row">
			<div class="col-lg-9">
				<div class="page-header">
					<h3 id="forms">增加新账单</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="{:U('Bill/add')}">
						<fieldset>
							<legend>“出单人”、“收单人”是必须的</legend>
							<div class="form-group">
								<label for="follower_id" class="col-lg-3 control-label">出单人（跟案人）</label>
								<div class="col-lg-4">
									<select class="form-control" name="follower_id">
										<option value=""></option>
										<volist name="member_list" id="member_vo">
										<option value="{$member_vo.member_id}"  >{$member_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									*注意*
								</div>
							</div>
							<div class="form-group">
								<label for="bill_date" class="col-lg-3 control-label">出单日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="bill_date" name="bill_date" placeholder="认领日期" value="{$today}">
								</div>
								<div class="col-lg-5">
									*注意*
								</div>
							</div>							
							<div class="form-group">
								<label for="client_id" class="col-lg-3 control-label">收单人（客户）</label>
								<div class="col-lg-4">
									<select class="form-control" name="client_id">
										<option value=""></option>
										<volist name="client_list" id="client_vo">
										<option value="{$client_vo.client_id}"  >{$client_vo.client_name}</option>
										</volist>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="total_amount" class="col-lg-3 control-label">总金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="total_amount" name="total_amount" placeholder="默认金额">
								</div>
								<div class="col-lg-5">
									*注意*
								</div>
							</div>
							<div class="form-group">
								<label for="official_fee" class="col-lg-3 control-label">官费</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="official_fee" name="official_fee" placeholder="默认金额">
								</div>
								<div class="col-lg-5">
									*注意*
								</div>
							</div>
							
							<div class="form-group">
								<label for="service_fee" class="col-lg-3 control-label">服务费</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="service_fee" name="service_fee" placeholder="默认金额">
								</div>
								<div class="col-lg-5">
									*注意*
								</div>
							</div>
						  
							<div class="form-group">
								<div class="col-lg-4 col-lg-offset-3">
									<button type="reset" value="reset" class="btn btn-default">Cancel</button>
									<button type="submit" value="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>

		

	</block>
<!-- 区块 page 替换结束 --> 