<extend name="Public:base" />
	
	<block name="title">
		<title>更新结算单</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="forms">更新结算单</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="{:U('Cost/update')}">
						<fieldset>
							<legend>尽量填写完整每一项</legend>
							<!-- 隐藏域开始-->
								<input type="hidden" class="form-control" id="cost_id" name="cost_id" value="{$cost_list.cost_id}">
							<!-- 隐藏域结束-->
							<div class="form-group">
								<label for="cost_name" class="col-lg-3 control-label">结算单名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="cost_name" name="cost_name" value="{$cost_list.cost_name}">
								</div>
								<div class="col-lg-5">
									建议格式：2015年4月-海科结算单
								</div>
							</div>
							<div class="form-group">
								<label for="cost_date" class="col-lg-3 control-label">结算日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="cost_date" name="cost_date" value="{$cost_list['cost_date']	?	date("Y-m-d",$cost_list['cost_date'])	:	''}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							<div class="form-group">
								<label for="cost_center_id" class="col-lg-3 control-label">结算账户</label>
								<div class="col-lg-4">
									<select class="form-control" name="cost_center_id">
										<option value=""></option>
										<volist name="cost_center_list" id="cost_center_vo">
										<option value="{$cost_center_vo.cost_center_id}" {$cost_center_vo['cost_center_id']==$cost_list['cost_center_id']	?	'selected="selected"'	:	''}>{$cost_center_vo.cost_center_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="{:U('CostCenter/listPage#addNew')}" target="_blank">这里</a>新增结算账户。
								</div>
							</div>
							<div class="form-group">
								<label for="cost_amount" class="col-lg-3 control-label">结算金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="cost_amount" name="cost_amount" value="{$cost_list['cost_amount']/100}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							
							<div class="form-group">
								<label for="other_fee" class="col-lg-3 control-label">其他费用</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="other_fee" name="other_fee" value="{$cost_list['other_fee']/100}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							<div class="form-group">
								<label for="total_amount" class="col-lg-3 control-label">总金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="total_amount" name="total_amount" value="{$cost_list['total_amount']/100}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default"> 取消 </button>
									<button type="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>