<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>结算单及其明细</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>编号为：{$cost_list.cost_id} 、名称为：{$cost_list.cost_name} 的基本信息、明细信息</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel  panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					基本信息，点击<a href="{:U('Cost/update','cost_id='.$cost_list['cost_id'])}" target="_blank"> 这里 </a>修改基本信息
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>编号</th>
								<th>结算单名称</th>
								<th>结算日期</th>
								<th>结算账户</th>
								<th>结算金额</th>
								<th>其他费用</th>
								<th>总金额</th>
								<th>常用操作</th>								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 cost_list 赋给  cost_list--> 
							<tr>
								<td>{$cost_list.cost_id}</td>
								<td>{$cost_list.cost_name}</td>
								<td>
									{$cost_list['cost_date']	?	date("Y-m-d",$cost_list['cost_date'])	:	''}
								</td>
								<td>{$cost_list['cost_center_name']}</td>
								<td align="right">{$cost_list['cost_amount']/100}</td>
								<td align="right">{$cost_list['other_fee']/100}</td>
								<td align="right">{$cost_list['total_amount']/100}</td>
								<td>
									<a href="{:U('Cost/view','cost_id='.$cost_list['cost_id'])}" target="_blank">查看详情<a>、
									<a href="{:U('Cost/update','cost_id='.$cost_list['cost_id'])}" target="_blank">更新<a>
								</td>								
							</tr>
							</volist>                 
						</tbody>
					</table> 
					
				</div>
			</div>
        </div>
		
				
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="panel  panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					缴费产生的结算信息，共{$case_fee_count}项。
					<?php
					$fee_cost_amount	=	0;
					for($j=0;$j<$case_fee_count;$j++){
						$fee_cost_amount	+=	$case_fee_list[$j]['cost_amount'];
					}
					?>
					共结算金额{$fee_cost_amount/100} 元
				</div>
			
				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>								
								<th>我方案号</th>								
								<th>对方案号</th>								
								<th>专利名称</th>
								<th>费用阶段</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>费用名称</th>
								<th>官费</th>
								<th>服务费</th>
								<th>官文日期</th>
								<th>期限日</th>
								<th>缴费单号及缴费日</th>
								<th>结算账户</th>
								<th>结算金额</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 case_fee_list 赋给  case_fee_vo--> 
							<volist name="case_fee_list" id="case_fee_vo">
							<tr>
								
								<td>{$i}</td>								
								<td>
									<a href="{:U('Case/view','case_id='.$case_fee_vo['case_id'])}" target="_blank">{$case_fee_vo['our_ref']}</a></td>								
								<td>{$case_fee_vo['client_ref']}</td>
								<td>{$case_fee_vo['formal_title']}</td>
								<td>{$case_fee_vo['case_phase_name']}</td>
								<td>{$case_fee_vo['application_date']	?	date("Y-m-d",$case_fee_vo['application_date'])	:	''}</td>
								<td>{$case_fee_vo['application_number']}</td>
								<td>{$case_fee_vo['fee_type_name']}</td>
								<td>{$case_fee_vo['cost_amount']/100}</td>
								<td>{$case_fee_vo['service_fee']/100}</td>
								<td>{$case_fee_vo['oa_date']	?	date("Y-m-d",$case_fee_vo['oa_date'])	:	''}</td>
								<td>{$case_fee_vo['due_date']	?	date("Y-m-d",$case_fee_vo['due_date'])	:	''}</td>
								<td>
									{$case_fee_vo['case_payment_id']	?	$case_fee_vo['case_payment_id']	:	''}<br>
									{$case_fee_vo['payment_date']	?	date("Y-m-d",$case_fee_vo['payment_date'])	:	''}
								</td>
								<td>{$case_fee_vo['cost_center_name']}</td>
								<td>{$case_fee_vo['cost_amount']/100}</td>
								<td><a href="{:U('CaseFee/update','case_fee_id='.$case_fee_vo['case_fee_id'])}" target="_blank">更新</a></td>
								</tr>
							</volist>
						</tbody>
					</table> 
				</div>
			</div>
        </div>
		
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="panel  panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					交文产生的结算信息，共{$case_file_count}项。
					<?php
					$file_cost_amount	=	0;
					for($j=0;$j<$case_file_count;$j++){
						$file_cost_amount	+=	$case_file_list[$j]['cost_amount'];
					}
					?>
					共结算金额{$file_cost_amount/100} 元
				</div>
			
				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>								
								<th>我方案号</th>								
								<th>对方案号</th>								
								<th>专利名称</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>文件名称</th>
								<th>官文日期</th>
								<th>期限日</th>
								<th>完成日期</th>
								<th>服务费</th>
								<th>内部结算金额</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 case_file_list 赋给  case_file_vo--> 
							<volist name="case_file_list" id="case_file_vo">
							<tr>
								
								<td>{$i}</td>								
								<td>{$case_file_vo['our_ref']}</td>								
								<td>{$case_file_vo['client_ref']}</td>
								<td>{$case_file_vo['formal_title']}</td>
								<td>{$case_file_vo['application_date']	?	date("Y-m-d",$case_file_vo['application_date'])	:	''}</td>
								<td>{$case_file_vo['application_number']}</td>
								<td>{$case_file_vo['file_type_name']}</td>
								<td>{$case_file_vo['oa_date']	?	date("Y-m-d",$case_file_vo['oa_date'])	:	''}</td>
								<td>{$case_file_vo['due_date']	?	date("Y-m-d",$case_file_vo['due_date'])	:	''}</td>
								<td>{$case_file_vo['completion_date']	?	date("Y-m-d",$case_file_vo['completion_date'])	:	''}</td>
								<td>{$case_file_vo['service_fee']/100}</td>
								<td>{$case_file_vo['cost_amount']/100}</td>
								<td><a href="{:U('CaseFile/update','case_file_id='.$case_file_vo['case_file_id'])}" target="_blank">更新</a></td>
								</tr>
							</volist>
						</tbody>
					</table> 
				</div>
			</div>
			<form class="form-inline" method="post" action="__CONTROLLER__/adjustCost">
				<!-- 隐藏域开始 -->
				<input	type="hidden" name="cost_id" value="{$cost_list.cost_id}"></input>
				<!-- 隐藏域结束 -->
				  <div class="form-group">
					<label for="cost_amount">上面详单的结算总金额</label>
					<input type="text" class="form-control" id="cost_amount" name="cost_amount" size="6" value="{$fee_cost_amount/100 + $file_cost_amount/100}">
				  </div>
				  <div class="form-group">
					<label for="other_fee">&nbsp;&nbsp;&nbsp;杂费金额</label>
					<input type="text" class="form-control" id="other_fee" name="other_fee" size="25" placeholder="杂费金额；如无杂费就填0">
				  </div>				  
				<button type="submit" class="btn btn-primary">就这样，更新到顶部的结算单</button>						
			</form>
        </div>
		
	  
	  
		

	</block>
<!-- 区块 page 替换结束 --> 