<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>案件类型</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>案件类型列表</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading">
					推荐“P1-发明专利”这种格式的类型名称，其中，“P1”是代号缩写，“发明”是类型名称，“专利”是细分。
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>序号</th>
								<th>案件类型名称</th>
								<th>常用操作</th>
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 case_group_list 赋给  case_group_vo--> 
							<volist name="case_group_list" id="case_group_vo">
							<tr>
								<td>{$i}</td>
								<td>{$case_group_vo.case_group_name}</td>
								<td>
									<a href="{:U('CaseGroup/update','case_group_id='.$case_group_vo['case_group_id'])}">更新</a>									
									<a href="{:U('CaseGroup/delete','case_group_id='.$case_group_vo['case_group_id'])}">删除</a>
									<a href="{:U('CaseType/view','case_group_id='.$case_group_vo['case_group_id'])}">查看其下面的小类</a>
								</td>
							</tr>
							</volist>               
						</tbody>
					</table> 
					{$case_group_page}
				</div>
			</div>
        </div>
	  
	  
		<a name="addNew"></a>
		<!-- Forms
			================================================== -->
	    <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="forms">新增案件类型</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/add">
						<fieldset>
							<legend>“案件类型名称</legend>
							<div class="form-group">
								<label for="case_group_name" class="col-lg-3 control-label">案件类型名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="case_group_name" name="case_group_name" placeholder="账户名称">
								</div>
								<div class="col-lg-5">
									“专利”的案件类型名称必须含有“专利”二字；<br>
									“商标”的案件类型名称必须含有“商标”二字；<br>
									“版权”的案件类型名称必须含有“版权”二字。
								</div>
							</div>
							

							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default"> 取消 </button>
									<button type="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>

	</block>
<!-- 区块 page 替换结束 --> 