<extend name="Public:base" />
	
	<block name="title">
		<title>删除</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">删除</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="panel panel-warning">
				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>序号</th>
								<th>人员名称</th>
								<th>email</th>
								<th>电话号码</th>
								<th>常用操作</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<td>{$i}</td>
								<td>{$member_list.member_name}</td>
								<td>{$member_list.member_email}</td>
								<td>{$member_list.member_phone}</td>
								<td>
									<a href="__CONTROLLER__/update/member_id/{$member_list.member_id}">更新</a>
									<a href="__CONTROLLER__/delete/member_id/{$member_list.member_id}">删除</a>
								</td>
							</tr>
							</volist>                 
						</tbody>
					</table>   
				</div>
				<form class="form-horizontal" method="post" action="__CONTROLLER__/delete">
					<fieldset>
						<legend>真的要删除？</legend>
						<div class="form-group">
							<div class="col-lg-9 col-lg-offset-3">
								<input	type="hidden" name="member_id" value="{$member_list.member_id}"></input>
								<button class="btn btn-primary" name="no_btn"value="1">No</button>
								<button type="submit" class="btn btn-default" name="yes_btn" value="1">Yes</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
        </div>

	</block>	