<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>结算单列表</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>结算单列表（共{$inner_balance_count}项）</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					“编号”是唯一的；案子的每条交文、缴费记录标记了“结算单编号”之后，就会出现在该结算单里面
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>编号</th>
								<th>结算单名称</th>
								<th>结算日期</th>
								<th>结算账户</th>
								<th>内部结算收入</th>
								<th>内部结算支出</th>
								<th>常用操作</th>								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 inner_balance_list 赋给  cost_vo--> 
							<volist name="inner_balance_list" id="cost_vo">
							<tr>
								<td>{$cost_vo.inner_balance_id}</td>
								<td>{$cost_vo.inner_balance_name}</td>
								<td>
									{$cost_vo['inner_balance_date']	?	date("Y-m-d",$cost_vo['inner_balance_date'])	:	''}
								</td>
								<td>{$cost_vo['cost_center_name']}</td>
								<td align="right">{$cost_vo['income_amount']	?	$cost_vo['income_amount']/100	:	''}</td>
								<td align="right">{$cost_vo['outcome_amount']	?	$cost_vo['outcome_amount']/100	:	''}</td>
								<td>
									<a href="{:U('InnerBalance/view','inner_balance_id='.$cost_vo['inner_balance_id'])}" target="_blank">查看详情<a>、
									<a href="{:U('InnerBalance/update','inner_balance_id='.$cost_vo['inner_balance_id'])}" target="_blank">更新<a>
								</td>								
							</tr>
							</volist>                 
						</tbody>
					</table> 
					{$inner_balance_page}
				</div>
			</div>
        </div>
	  
	  
		<a name="addNew"></a>
		<!-- Forms
			================================================== -->
	    <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="forms">新增结算单</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="{:U('InnerBalance/add')}">
						<fieldset>
							<legend>尽量填写完整每一项</legend>
							<div class="form-group">
								<label for="inner_balance_name" class="col-lg-3 control-label">结算单名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="inner_balance_name" name="inner_balance_name" placeholder="结算单名称">
								</div>
								<div class="col-lg-5">
									建议格式：2015年4月-海科结算单
								</div>
							</div>
							<div class="form-group">
								<label for="inner_balance_date" class="col-lg-3 control-label">结算日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="inner_balance_date" name="inner_balance_date" value="{$today|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							<div class="form-group">
								<label for="cost_center_id" class="col-lg-3 control-label">结算账户</label>
								<div class="col-lg-4">
									<select class="form-control" name="cost_center_id">
										<option value=""></option>
										<volist name="cost_center_list" id="cost_center_vo">
										<option value="{$cost_center_vo.cost_center_id}"  >{$cost_center_vo.cost_center_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可通过<a href="{:U('CostCenter/listPage#addNew')}" target="_blank">这里</a>新增结算账户。
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button type="reset" value="reset" class="btn btn-default"> 取消 </button>
									<button type="submit" value="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>

	</block>
<!-- 区块 page 替换结束 --> 