<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>结算单及其明细</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>{$inner_balance_list.inner_balance_name} 的基本信息、明细信息</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel  panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					基本信息，点击<a href="{:U('InnerBalance/update','inner_balance_id='.$inner_balance_list['inner_balance_id'])}" target="_blank"> 这里 </a>修改基本信息
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>编号</th>
								<th>结算单名称</th>
								<th>结算日期</th>
								<th>结算账户</th>
								<th>内部结算收入</th>
								<th>内部结算支出</th>
								<th>常用操作</th>								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 inner_balance_list 赋给  inner_balance_list--> 
							<tr>
								<td>{$inner_balance_list.inner_balance_id}</td>
								<td>{$inner_balance_list.inner_balance_name}</td>
								<td>
									{$inner_balance_list['inner_balance_date']	?	date("Y-m-d",$inner_balance_list['inner_balance_date'])	:	''}
								</td>
								<td>{$inner_balance_list['cost_center_name']}</td>
								<td align="right">{$inner_balance_list['income_amount']	?	$inner_balance_list['income_amount']/100	:	''}</td>
								<td align="right">{$inner_balance_list['outcome_amount']	?	$inner_balance_list['outcome_amount']/100	:	''}</td>
								<td>
									<a href="{:U('InnerBalance/view','inner_balance_id='.$inner_balance_list['inner_balance_id'])}" target="_blank">查看详情<a>、
									<a href="{:U('InnerBalance/update','inner_balance_id='.$inner_balance_list['inner_balance_id'])}" target="_blank">更新<a>
								</td>								
							</tr>
							</volist>                 
						</tbody>
					</table> 
					
				</div>
			</div>
        </div>
		
				
		
		
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="panel  panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					交文产生的内部结算信息，共{$case_file_count}项。
					<?php
					$file_cost_amount	=	0;
					for($j=0;$j<$case_file_count;$j++){
						$file_cost_amount	+=	$case_file_list[$j]['cost_amount'];
					}
					$file_cost_amount	=	$file_cost_amount/100;
					?>
					共结算金额{$file_cost_amount} 元
				</div>
			
				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>								
								<th>我方案号</th>								
								<th>对方案号</th>								
								<th>专利名称</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>文件名称</th>
								<th>官文日期</th>
								<th>期限日</th>
								<th>完成日期</th>
								<th>服务费</th>
								<th>内部结算金额</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 case_file_list 赋给  case_file_vo--> 
							<volist name="case_file_list" id="case_file_vo">
							<tr>
								
								<td>{$i}</td>								
								<td>{$case_file_vo['our_ref']}</td>								
								<td>{$case_file_vo['client_ref']}</td>
								<td>{$case_file_vo['formal_title']}</td>
								<td>{$case_file_vo['application_date']	?	date("Y-m-d",$case_file_vo['application_date'])	:	''}</td>
								<td>{$case_file_vo['application_number']}</td>
								<td>{$case_file_vo['file_type_name']}</td>
								<td>{$case_file_vo['oa_date']	?	date("Y-m-d",$case_file_vo['oa_date'])	:	''}</td>
								<td>{$case_file_vo['due_date']	?	date("Y-m-d",$case_file_vo['due_date'])	:	''}</td>
								<td>{$case_file_vo['completion_date']	?	date("Y-m-d",$case_file_vo['completion_date'])	:	''}</td>
								<td>{$case_file_vo['service_fee']/100}</td>
								<td>{$case_file_vo['cost_amount']/100}</td>
								<td><a href="{:U('CaseFile/update','case_file_id='.$case_file_vo['case_file_id'])}" target="_blank">更新</a></td>
								</tr>
							</volist>
						</tbody>
					</table> 
				</div>
			</div>
			<form class="form-inline" method="post" action="__CONTROLLER__/adjust">
				<!-- 隐藏域开始 -->
				<input	type="hidden" name="inner_balance_id" value="{$inner_balance_list.inner_balance_id}"></input>
				<!-- 隐藏域结束 -->
				  <div class="form-group">
					<label for="outcome_amount">上面详单的结算费用</label>
					<input type="text" class="form-control" id="outcome_amount" name="outcome_amount" size="6" value="{$file_cost_amount}">
				  </div>
				  <div class="form-group">
					<label for="other_outcome">其他结算费用</label>
					<input type="text" class="form-control" id="other_outcome" name="other_outcome" size="25" placeholder="其他结算费用，如无就填0">
				  </div>
				  <div class="form-group">
					<label for="income_amount">其他结算收入</label>
					<input type="text" class="form-control" id="income_amount" name="income_amount" size="25" placeholder="其他结算收入，如无就填0">
				  </div>
				  
				<button type="submit" value="submit" class="btn btn-primary">就这样，更新到顶部的结算单</button>						
			</form>
        </div>
		
	  
	  
		

	</block>
<!-- 区块 page 替换结束 --> 