<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>搜索收到的账单</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>搜索条件</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					如果不填写日期，默认就查找最近一个月开的账单
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>最早账单日</th>
								<th>最小账单金额</th>
								<th>供应商（发单人）</th>
								<th>到账情况</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<form class="form-inline" id="form_for_search_new" method="post" action="__CONTROLLER__/search">
								<td>
									<input type="date" class="form-control" id="start_time" name="start_time" placeholder="最早账单日" value="{$start_time	?	date("Y-m-d",$start_time)	:	''}"></td>
								<td>
									<input type="text" class="form-control" id="start_amount" name="start_amount" size="2" value="{$start_amount/100}"></td>
								<td>
									<select class="form-control" name="supplier_id">
									<option value="0"> 不限 </option>
									<volist name="supplier_list" id="supplier_vo">
									<option value="{$supplier_vo.supplier_id}" {$supplier_vo['supplier_id']==$supplier_id	?	'selected="selected"'	:	''}>{$supplier_vo.supplier_name}</option>
									</volist>
									</select></td>
								<td>
									<select class="form-control" name="is_paid">
									<option value="0" {$is_paid==0	?	'selected="selected"'	:	''}> 不限 </option>
									<option value="1" {$is_paid==1	?	'selected="selected"'	:	''}> 已付款 </option>
									<option value="2" {$is_paid==2	?	'selected="selected"'	:	''}> 尚未付款 </option>
									</select></td>
								
							</tr>
							<tr class="info">
								<th>最晚账单日</th>
								<th>最大账单金额</th>
								<th>跟进人员</th>
								<th>&nbsp;</th>
								
							</tr>
							<tr>
								<td>
									<input type="date" class="form-control" id="end_time" name="end_time" placeholder="最晚账单日" value="{$end_time	?	date("Y-m-d",$end_time)	:	''}"></td>
								<td>
									<input type="text" class="form-control" id="end_amount" name="end_amount" size="5" value="{$end_amount/100}"></td>
								<td>
									<select class="form-control" name="follower_id">
                                        <?php
                                            //如 user_group_id 小于 11 ，则只能搜索自己跟进的账单
                                                if(cookie('user_group_id') < 11){
                                                    $member_id = cookie('member_id');
                                                    $member_name = cookie('member_name');?>
                                                    
                                                    <option value="{$member_id}"> {$member_name} </option>
                                                <?php
                                                }else{?>
                                                
                                                
										<option value="0"> 不限 </option>
										<volist name="member_list" id="member_vo">
										<option value="{$member_vo.member_id}"} {$member_vo['member_id']==$follower_id	?	'selected="selected"'	:	''}>{$member_vo.member_name}</option>
										</volist>
                                                <?php
                                                }?>
									</select></td>								
								<td><button type="submit" value="submit" class="btn btn-primary">搜</button></td>
							</form>
							</tr>
						</tbody>
					</table> 
				</div>
				
					
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>搜索结果（共{$bill_count}项）</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading panel-title">
					<p>“编号”是唯一的，发票、到账、缴款单都是关联到这个“编号”。点击编号能查看详情。</p>
				</div>

								<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<th>编号</th>								
								<th>账单日期</th>
								<th>供应商名单</th>
								<th>供应商账单号</th>
								<th>账单名称</th>
								<th>总金额</th>
								<th>货币单位</th>
								<th>付款期限</th>
								<th>跟案人</th>
								<th>盈方付款单编号</th>
								<th>常用操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="inbill_list" id="inbill_vo">
							<tr>
								<td><a href="{:U('Inbill/view','inbill_id='.$inbill_vo['inbill_id'])}">{$inbill_vo.inbill_id}</a></td>
								<td>{$inbill_vo['inbill_date']	?	date("Y/m/d",$inbill_vo['inbill_date'])	:	''}</td>
								<td>{$inbill_vo.supplier_name}</td>
								<td>{$inbill_vo.inbill_number}</td>
								<td>{$inbill_vo.inbill_name}</td>
								<td align="right">{$inbill_vo['total_amount']	?	bcdiv($inbill_vo['total_amount'],100,2)	:	''}</td>
								<td>{$inbill_vo.monetary_unit}</td>
								<td>{$inbill_vo['due_date']	?	date("Y/m/d",$inbill_vo['due_date'])	:	''}</td>
								<td>{$inbill_vo.member_name}</td>
								<td><a href="{:U('CasePayment/view','case_payment_id='.$inbill_vo['case_payment_id'])}" target="_blank">{$inbill_vo['case_payment_id']	?	$inbill_vo['case_payment_id']	:	''}</a></td>
								<td>
									<a href="{:U('Inbill/update','inbill_id='.$inbill_vo['inbill_id'])}">更新</a>
								</td>
							</tr>
							</volist>                 
						</tbody>
					</table> 
					{$inbill_page}
				</div><!-- /example -->
			</div>
        </div>	

	</block>
<!-- 区块 page 替换结束 --> 