<extend name="Public:base" />

<!-- 定义区块 page -->
	  <block name="page">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>测试页面专用</h1>
            <p class="lead"><a href="__ROOT__/Home/Test/testV3Dashboard">testV3Dashboard</a></p>
            <p class="lead"><a href="__ROOT__/Home/Test/testV4Dashboard">testV4Dashboard</a></p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="../assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
            </div>
          </div>
        </div>
      </div>
	  </block>