<extend name="Public:base" />
	
	<block name="title">
		<title>编辑供应商</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">编辑供应商信息</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-10">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
						<fieldset>
							<legend>“名称”是必须的</legend>
							<div class="form-group">
								<label for="supplier_name" class="col-lg-3 control-label">名称</label>
								<div class="col-lg-4">
									<input type="hidden" class="form-control" id="supplier_id" name="supplier_id" value="{$supplier_list.supplier_id}">
									<input type="text" class="form-control" id="supplier_name" name="supplier_name" value="{$supplier_list.supplier_name}">
								</div>
								<div class="col-lg-5">
									名称是必须的
								</div>
							</div>
							<div class="form-group">
								<label for="supplier_email" class="col-lg-3 control-label">email</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="supplier_email" name="supplier_email" value="{$supplier_list.supplier_email}">
								</div>
								<div class="col-lg-5">
									可留空
								</div>
							</div>
							<div class="form-group">
								<label for="supplier_address" class="col-lg-3 control-label">地址</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="supplier_address" name="supplier_address" value="{$supplier_list.supplier_address}">
								</div>
								<div class="col-lg-5">
									可留空
								</div>
							</div>
							<div class="form-group">
								<label for="supplier_phone" class="col-lg-3 control-label">电话号码</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="supplier_phone" name="supplier_phone" value="{$supplier_list.supplier_phone}">
								</div>
								<div class="col-lg-5">
									可留空
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-4 col-lg-offset-3">
									<button type="reset" value="reset" class="btn btn-default">Cancel</button>
									<button type="submit" value="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>