<!-- 填写申请人编号，1行，3列 -->
							<div class="form-group">
								<label for="applicant_id" class="col-lg-3 control-label">申请人</label>
								<div class="col-lg-4">
									<!--
                                    <select class="form-control" name="applicant_id">
										<option value=""}></option>
										<option value="same" style="color:#FF0000">申请人与客户相同</option>
										<volist name="client_list" id="applicant_vo">
										<option value="{$applicant_vo.client_id}" >{$applicant_vo.client_name}</option>
										</volist>
									</select>
                                    -->
                                    <input type="text" class="form-control" id="applicant_id" name="applicant_id" placeholder="只能填写申请人编号">
								</div>
								<div class="col-lg-5">
									只能填编号；到<a href="{:U('Client/listAll')}" target="_blank">这里</a>找到申请人的编号；<br>
									同时按 Ctrl、F 两键可搜索，找不到就新建；<br>
                                    同一个客户应该有唯一的ID。
								</div>
							</div>