
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- 定义区块 title -->
	<block name="title">
    <title>Bootswatch: Cerulean</title>
	</block>
	
	<!-- Bootstrap -->
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/Public/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="__ROOT__/Application/Home/View/Public/css/bootswatch.min.css">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="__ROOT__/Application/Home/View/Public/js/html5shiv.min-3.7.2.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min-1.4.2.js"></script>
    <![endif]-->
	
	<script src="__ROOT__/Application/Home/View/Public/js/jquery-1.10.2.min.js"></script>
	<script src="__ROOT__/Application/Home/View/Public/js/bootstrap.min.js"></script>

  </head>
  <body>
  
     <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
		
		<!-- 定义区块 navbar-header -->
		<block name="navbar-header">
        <div class="navbar-header">
          <a href="__ROOT__/" class="navbar-brand">首页</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
		</block>
		
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">专利 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="__APP__/Home/Patent/listPage">账单列表</a></li>
                <li><a href="__APP__/Home/Patent/listPage#addNew">录入新账单</a></li>                
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">导航菜单2 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Cerulean</a></li>
               
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">导航菜单3 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
               
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">财务 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li class="divider"></li>
				<li>收支流水</li>
				<li><a href="__APP__/Home/Balance/listAll">新加、管理</a></li>
				<li><a href="__APP__/Home/Balance/search">查询、管理</a></li>
                <li class="divider"></li>
                <li><a href="__APP__/Home/Claim/listPage">收支认领列表管理</a></li>
                
                <li class="divider"></li>
                <li><a href="__APP__/Home/CostCenter/listPage">核算账户列表管理</a></li>
                <li><a href="__APP__/Home/CostCenter/listPage#addNew">录入新核算账户</a></li>
				<li class="divider"></li>
                <li><a href="__APP__/Home/Account/listAll">财务账户列表、管理</a></li>
              </ul>
            </li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">业务 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
           
                <li><a href="__APP__/Home/Bill/listPage">账单列表</a></li>
                <li><a href="__APP__/Home/Bill/listPage#addNew">录入新账单</a></li>
                <li class="divider"></li>
                <li><a href="__APP__/Home/Claim/listPage">收支认领列表</a></li>
                <li><a href="__APP__/Home/Claim/listPage#addNew">录入新收支认领</a></li>
              </ul>
            </li>
            <li>
              <a href="../help/">Help</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">基础信息配置 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="__APP__/Home/Client/listPage">客户/申请人列表、编辑</a></li>
				<li><a href="__APP__/Home/Client/listPage#addNew">录入新客户/申请人</a></li>
                <li class="divider"></li>				
				<li><a href="__APP__/Home/Member/listPage">跟案人员/处理人员列表、编辑</a></li>
				<li><a href="__APP__/Home/Member/listPage#addNew">录入新跟案人员/处理人员</a></li>
				<li class="divider"></li>
				<li><a href="__APP__/Home/CaseType/listPage">案件小类型列表、编辑</a></li>
                <li><a href="__APP__/Home/CaseType/listPage#addNew">录入新案件小类型</a></li>
				<li class="divider"></li>
                <li><a href="__APP__/Home/CaseGroup/listPage">案件大类型列表、编辑</a></li>
                <li><a href="__APP__/Home/CaseGroup/listPage#addNew">录入新案件大类型</a></li>
				<li class="divider"></li>
				<li><a href="__APP__/Home/FeeType/listPage">费用类型列表、编辑</a></li>
                <li><a href="__APP__/Home/FeeType/listPage#addNew">录入新费用类型</a></li>
				<li><a href="__APP__/Home/FeePhase/listPage">费用阶段列表、编辑</a></li>
                <li><a href="__APP__/Home/FeePhase/listPage#addNew">录入新费用阶段</a></li>
				<li class="divider"></li>
				<li><a href="__APP__/Home/FileType/listPage">交文类型列表、编辑</a></li>
                <li><a href="__APP__/Home/FileType/listPage#addNew">录入新交文类型</a></li>
				<li class="divider"></li>
              </ul>
            </li>
			
          </ul>
		  
		  <!-- 定义区块 navbar-form -->
		  <block name="navbar-form">
		  <form class="navbar-form navbar-left" role="search">
			<div class="form-group">
               <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-warning">搜</button>
          </form>
		  </block>

          <ul class="nav navbar-nav navbar-right">
           <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">页面</a></li>
          </ul>

        </div>
      </div>
    </div>

	


    <div class="container">
	<!-- 定义区块 page -->
	  <block name="page">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Cerulean</h1>
            <p class="lead">A calm blue sky</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <a href="http://www.shopify.com/?ref=bootswatch" target="_blank" onclick="_gaq.push(['_trackEvent', 'banner', 'click', 'shopify']);"><img src="../assets/img/shopify.png" alt="Shopify" onload="_gaq.push(['_trackEvent', 'banner', 'impression', 'shopify']);"></a>
            </div>
          </div>
        </div>
      </div>
	  </block>
	  

    

      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
              <li><a href="../help/#api">API</a></li>
              <li><a href="../help/#support">Support</a></li>
            </ul>
            <p>Made by <a href="http://thomaspark.me" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

          </div>
        </div>

      </footer>


    </div>


    
    
    
  </body>
</html>
