<!-- 根据案件大类搜索，1行，2列 -->
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<form class="form-inline" id="form_for_search_new" method="post" action="__CONTROLLER__/searchForNewPatent">
					  <div class="form-group">
						<label for="case_year">案号对应的年份</label>
						<select  class="form-control" name="case_year" id="case_year">
							<volist name="year_list" id="year_vo">
							<option value="{$year_vo}"} {$year_vo==$case_year	?	'selected="selected"'	:	''}>{$year_vo}</option>
							</volist>
							<option value="0"} >不限</option>
						</select>
					  </div>

					  <div class="form-group">
						<label for="case_group_id"> &nbsp; 案件大类</label>
						<select  class="form-control" name="case_group_id" id="case_group_id">
							<option value="0"}>不限</option>
							<volist name="case_group_list" id="case_group_vo">
							<option value="{$case_group_vo['case_group_id']}"} {$case_group_vo['case_group_id']==$case_group_id	?	'selected="selected"'	:	''}>{$case_group_vo['case_group_name']}</option>
							</volist>
						</select>
					  </div>

					  
					  <div class="form-group">
						<label for="limit_number"> &nbsp; 查看最新的案件数量</label>
						<select  class="form-control" name="limit_number" id="limit_number">
							<volist name="number_list" id="follower_vo">
							<option value="{$follower_vo}" {$follower_vo==5? 'selected="selected"' :''}}>{$follower_vo}</option>
							</volist>
						</select>
					  </div>

					<button type="submit" value="submit" class="btn btn-primary">搜</button>
					</form>
				</div>
			</div>
		</div>