<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>首页：任务监控</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		
		<div class="row">
			<div class="col-lg-12">

					<h3>开案、默认的提醒任务、每周的提醒</h3>

        <div class="panel-heading panel-title">
          <p>自2017年5月20日起，开案之后，系统自动添加一个默认的交文任务，期限自开案日起1周。目的是便于提醒。</p>
          <p>要根据案件情况修改该提醒任务的名称、期限。商标申请的提醒期限一般是1天，专利申请的提醒期限一般是两周。</p>
          <p>以后，商标部也需要像专利部一样，每周向跟案人提醒一次交文任务。“商标”=><a href="/Home/CaseFile/searchNotPatentFileByDueDate" target="_blank">“文件监控”</a>能筛选出来尚未处理的文件任务</p>
        </div>
			</div>
		</div>
    
    <div class="row">
			<div class="col-lg-12">

					<h3>商标案要补充完整申请号、指定的类别</h3>

        <div class="panel-heading panel-title">
          <p>需要补充的案件列表在“商标”=><a href="/Home/Check/listNoApplicationNumberNotPatent" target="_blank">“没有填写申请号或分类号的商标列表”</a>。如知道了申请号，可到<a href="http://wsjs.saic.gov.cn/txnS02.do?y7bRbp=qmFnjZB_ljeArEMuNH0WNaU3tz_Jn2Kvc.mGKUNtpLDFYH1889LGLuMRySGhP6azZ3JsrRnSTiR2laNJ0LKjGdSmFnJEwWeRC5vx8YEj.8wnu5elXcwqm1U.T0VlUNa_NAVYIe1xFNLqHEqH&c1K5tw0w6_=3hW9R0zblz8E6H6LvpKadMZqgRK.0wzXMc9aEc..hajybksOoLvLtLVy56tHXK47LPD05DD1HNox2DCHicdWyAYRgtifXRNsRKjb6JiUbveDmz..0uz7GQ72nViUeueT
" target="_blank">商标局官网</a>查询其他信息。</p>
          <p>要在2017年6月15日之前补充完整。（如是版权，可在“备注”栏标注为“版权”）</p>
        </div>
			</div>
		</div>
    
    <div class="row">
			<div class="col-lg-12">

					<h3>商标、专利都要填写发证日</h3>

        <div class="panel-heading panel-title">
          <p>“商标”=><a href="/Home/Check/listNotIssuedNotPatent" target="_blank">“没有填写发证日的商标列表”</a>列出了需要补充发证日的商标案；
          “专利”=><a href="/Home/Check/listNotIssuedPatent" target="_blank">“没有填写发证日的专利列表”</a>列出了需要补充发证日的专利案。</p>
          <p>要在2017年7月15日之前补充完整。（没有发证日的在“备注”栏标注原因，例如“被驳回”）</p>
        </div>
			</div>
		</div>
    
    <div class="row">
			<div class="col-lg-12">

					<h3>商标要建立续展监控</h3>

        <div class="panel-heading panel-title">
          <p>每个案件“增加文件记录”的页面的右侧，有一个“确认增加续展提醒任务”，点击之后，会创建3个续展提醒任务以及1个真正的续展任务。</p>
          <p>“商标”=><a href="/Home/Check/listNotRenewalNotPatent" target="_blank">“有发证日但没有续展监控的商标列表”</a>列出了需要建立续展提醒任务的商标</p>
          <p>要在2017年7月15日之前补充完整。（不用提醒续展的要在“备注”栏标注原因，例如“被撤销”或“客户指示放弃”等）</p>
        </div>
			</div>
		</div>
    
    <div class="row">
			<div class="col-lg-12">

					<h3>PCT国际申请要提醒进入国家阶段</h3>

        <div class="panel-heading panel-title">
          <p>每个案件“增加文件记录”的页面的右侧，有一个“增加PCT进入国家阶段提醒”，点击之后，会创建3个提醒任务。</p>
        </div>
			</div>
		</div>
		
		<!-- 屏蔽商标的
		<div class="row">
			<div class="panel panel-warning">
				<div class="panel-heading panel-title">
					商标交文监控（未来一周），共{$not_patent_file_count}项。 <a href="{:U('CaseFile/searchNotPatentFileByDueDate')}">>>更多的监控选项</a>
				</div>

				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>
								<th>我方案号</th>
								<th>对方案号</th>
								<th>客户</th>
								<th>跟案人</th>
								<th>申请人</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>商标类别</th>
								<th>文件名称</th>								
								<th>官文发文日</th>								
								<th>期限日</th>
								<th>完成日</th>
								<th>服务费</th>								
								<th>账单号</th>
								<th>发票单号</th>
								<th>到账认领单号</th>
								<th>内部结算单号</th>
								<th>结算金额</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<volist name="not_patent_file_list" id="not_patent_file_vo">
							<tr>
								
								<td>{$i}</td>
								<td><a href="{:U('Case/view','case_id='.$not_patent_file_vo['case_id'])}" target="_blank">{$not_patent_file_vo['our_ref']}</a></td>
								<td>{$not_patent_file_vo.client_ref}</td>
								<td>{$not_patent_file_vo.client_name}</td>
								<td>{$not_patent_file_vo.follower_name}</td>
								<td>{$not_patent_file_vo.applicant_name}</td>
								<td>{$not_patent_file_vo['application_date']	=	$not_patent_file_vo['application_date']	?	date("Y-m-d",$not_patent_file_vo['application_date'])		:	''}</td>
								<td>{$not_patent_file_vo.application_number}</td>
								<td>{$not_patent_file_vo.formal_title}</td>
								<td>{$not_patent_file_vo.file_type_name}</td>
								<td>{$not_patent_file_vo['oa_date']	=	$not_patent_file_vo['oa_date']	?	date("Y-m-d",$not_patent_file_vo['oa_date'])		:	''}</td>
								<td>{$not_patent_file_vo['due_date']	=	$not_patent_file_vo['due_date']	?	date("Y-m-d",$not_patent_file_vo['due_date'])		:	''}</td>
								<td>{$not_patent_file_vo['completion_date']	=	$not_patent_file_vo['completion_date']	?	date("Y-m-d",$not_patent_file_vo['completion_date'])		:	''}</td>
								<td>{$not_patent_file_vo['service_fee']	=	$not_patent_file_vo['service_fee']	?	$not_patent_file_vo['service_fee']/100		:	''}</td>
								<td>{$not_patent_file_vo['bill_id']	=	$not_patent_file_vo['bill_id']	?	$not_patent_file_vo['bill_id']		:	''}</td>
								<td>{$not_patent_file_vo['invoice_id']	=	$not_patent_file_vo['invoice_id']	?	$not_patent_file_vo['invoice_id']		:	''}</td>
								<td>{$not_patent_file_vo['claim_id']	=	$not_patent_file_vo['claim_id']	?	$not_patent_file_vo['claim_id']		:	''}</td>
								<td>{$not_patent_file_vo['cost_id']	=	$not_patent_file_vo['cost_id']	?	$not_patent_file_vo['cost_id']		:	''}</td>
								<td>{$not_patent_file_vo['cost_amount']	=	$not_patent_file_vo['cost_amount']/100	?	$not_patent_file_vo['cost_amount']		:	''}</td>
								<td>
									<a href="{:U('CaseFile/update','case_file_id='.$not_patent_file_vo['case_file_id'])}">更新</a>
									<a href="{:U('CaseFile/delete','case_file_id='.$not_patent_file_vo['case_file_id'])}">删除</a>
									
								</td>
								
							</tr>
							</volist>
						</tbody>
					</table>  
				</div>
			</div>
        </div>
		
		
		
		<div class="row">
			<div class="panel panel-warning">
				<div class="panel-heading panel-title">
					商标缴费监控（未来一周），共{$not_patent_fee_count}项。<a href="{:U('CaseFee/searchNotPatentFeeByDueDate')}">>>更多的监控选项</a>
				</div>

				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>								
								<th>我方案号</th>								
								<th>对方案号</th>
								<th>客户</th>
								<th>跟案人</th>
								<th>申请人</th>
								<th>专利名称</th>
								<th>费用阶段</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>费用名称</th>
								<th>官费</th>
								<th>服务费</th>
								<th>官文日期</th>
								<th>期限日</th>
								<th>缴费单号及缴费日</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<volist name="not_patent_fee_list" id="not_patent_fee_vo">
							<tr>
								
								<td>{$i}</td>								
								<td><a href="{:U('Case/view','case_id='.$not_patent_fee_vo['case_id'])}" target="_blank">{$not_patent_fee_vo['our_ref']}</a></td>								
								<td>{$not_patent_fee_vo['client_ref']}</td>
								<td>{$not_patent_fee_vo['client_name']}</td>
								<td>{$not_patent_fee_vo['follower_name']}</td>
								<td>{$not_patent_fee_vo['applicant_name']}</td>
								<td>{$not_patent_fee_vo['formal_title']}</td>
								<td>{$not_patent_fee_vo['case_phase_name']}</td>
								<td>{$not_patent_fee_vo['application_date']	?	date("Y-m-d",$not_patent_fee_vo['application_date'])	:	''}</td>
								<td>{$not_patent_fee_vo['application_number']}</td>
								<td>{$not_patent_fee_vo['fee_type_name']}</td>
								<td>{$not_patent_fee_vo['official_fee']/100}</td>
								<td>{$not_patent_fee_vo['service_fee']/100}</td>
								<td>{$not_patent_fee_vo['oa_date']	?	date("Y-m-d",$not_patent_fee_vo['oa_date'])	:	''}</td>
								<td>{$not_patent_fee_vo['due_date']	?	date("Y-m-d",$not_patent_fee_vo['due_date'])	:	''}</td>
								<td>
									{$not_patent_fee_vo['case_payment_id']	?	$not_patent_fee_vo['case_payment_id']	:	''}<br>
									{$not_patent_fee_vo['payment_date']	?	date("Y-m-d",$not_patent_fee_vo['payment_date'])	:	''}
								</td>
								<td><a href="{:U('CaseFee/update','case_fee_id='.$not_patent_fee_vo['case_fee_id'])}" target="_blank">更新</a></td>
								</tr>
							</volist>
						</tbody>
					</table> 
				</div>
			</div>
        </div>
		 --> 
		<!-- 专利的也屏蔽了
		<div class="row">
			<div class="panel panel-warning">
				<div class="panel-heading panel-title">
					专利交文监控（未来一周），共{$patent_file_count}项。<a href="{:U('CaseFile/searchPatentFileByDueDate')}">>>更多的监控选项</a>
				</div>

				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>
								<th>我方案号</th>
								<th>对方案号</th>
								<th>客户</th>
								<th>跟案人</th>
								<th>申请人</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>商标类别</th>
								<th>文件名称</th>								
								<th>官文发文日</th>								
								<th>期限日</th>
								<th>完成日</th>
								<th>服务费</th>								
								<th>账单号</th>
								<th>发票单号</th>
								<th>到账认领单号</th>
								<th>内部结算单号</th>
								<th>结算金额</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<volist name="patent_file_list" id="patent_file_vo">
							<tr>
								
								<td>{$i}</td>
								<td><a href="{:U('Case/view','case_id='.$patent_file_vo['case_id'])}" target="_blank">{$patent_file_vo['our_ref']}</a></td>
								<td>{$patent_file_vo.client_ref}</td>
								<td>{$patent_file_vo.client_name}</td>
								<td>{$patent_file_vo.follower_name}</td>
								<td>{$patent_file_vo.applicant_name}</td>
								<td>{$patent_file_vo['application_date']	=	$patent_file_vo['application_date']	?	date("Y-m-d",$patent_file_vo['application_date'])		:	''}</td>
								<td>{$patent_file_vo.application_number}</td>
								<td>{$patent_file_vo.formal_title}</td>
								<td>{$patent_file_vo.file_type_name}</td>
								<td>{$patent_file_vo['oa_date']	=	$patent_file_vo['oa_date']	?	date("Y-m-d",$patent_file_vo['oa_date'])		:	''}</td>
								<td>{$patent_file_vo['due_date']	=	$patent_file_vo['due_date']	?	date("Y-m-d",$patent_file_vo['due_date'])		:	''}</td>
								<td>{$patent_file_vo['completion_date']	=	$patent_file_vo['completion_date']	?	date("Y-m-d",$patent_file_vo['completion_date'])		:	''}</td>
								<td>{$patent_file_vo['service_fee']	=	$patent_file_vo['service_fee']	?	$patent_file_vo['service_fee']/100		:	''}</td>
								<td>{$patent_file_vo['bill_id']	=	$patent_file_vo['bill_id']	?	$patent_file_vo['bill_id']		:	''}</td>
								<td>{$patent_file_vo['invoice_id']	=	$patent_file_vo['invoice_id']	?	$patent_file_vo['invoice_id']		:	''}</td>
								<td>{$patent_file_vo['claim_id']	=	$patent_file_vo['claim_id']	?	$patent_file_vo['claim_id']		:	''}</td>
								<td>{$patent_file_vo['cost_id']	=	$patent_file_vo['cost_id']	?	$patent_file_vo['cost_id']		:	''}</td>
								<td>{$patent_file_vo['cost_amount']	=	$patent_file_vo['cost_amount']/100	?	$patent_file_vo['cost_amount']		:	''}</td>
								<td>
									<a href="{:U('CaseFile/update','case_file_id='.$patent_file_vo['case_file_id'])}">更新</a>
									<a href="{:U('CaseFile/delete','case_file_id='.$patent_file_vo['case_file_id'])}">删除</a>
									
								</td>
								
							</tr>
							</volist>
						</tbody>
					</table>  
				</div>
			</div>
        </div>
		
		
		<div class="row">
			<div class="panel panel-warning">
				<div class="panel-heading panel-title">
					专利缴费监控（未来一周），共{$patent_fee_count}项。<a href="{:U('CaseFee/searchPatentFeeByDueDate')}">>>更多的监控选项</a>
				</div>

				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>								
								<th>我方案号</th>								
								<th>对方案号</th>
								<th>客户</th>
								<th>跟案人</th>
								<th>申请人</th>
								<th>专利名称</th>
								<th>费用阶段</th>
								<th>申请日</th>
								<th>申请号</th>
								<th>费用名称</th>
								<th>官费</th>
								<th>服务费</th>
								<th>官文日期</th>
								<th>期限日</th>
								<th>缴费单号及缴费日</th>
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<volist name="patent_fee_list" id="patent_fee_vo">
							<tr>
								
								<td>{$i}</td>								
								<td><a href="{:U('Case/view','case_id='.$patent_fee_vo['case_id'])}" target="_blank">{$patent_fee_vo['our_ref']}</a></td>								
								<td>{$patent_fee_vo['client_ref']}</td>
								<td>{$patent_fee_vo['client_name']}</td>
								<td>{$patent_fee_vo['follower_name']}</td>
								<td>{$patent_fee_vo['applicant_name']}</td>
								<td>{$patent_fee_vo['formal_title']}</td>
								<td>{$patent_fee_vo['case_phase_name']}</td>
								<td>{$patent_fee_vo['application_date']	?	date("Y-m-d",$patent_fee_vo['application_date'])	:	''}</td>
								<td>{$patent_fee_vo['application_number']}</td>
								<td>{$patent_fee_vo['fee_type_name']}</td>
								<td>{$patent_fee_vo['official_fee']/100}</td>
								<td>{$patent_fee_vo['service_fee']/100}</td>
								<td>{$patent_fee_vo['oa_date']	?	date("Y-m-d",$patent_fee_vo['oa_date'])	:	''}</td>
								<td>{$patent_fee_vo['due_date']	?	date("Y-m-d",$patent_fee_vo['due_date'])	:	''}</td>
								<td>
									{$patent_fee_vo['case_payment_id']	?	$patent_fee_vo['case_payment_id']	:	''}<br>
									{$patent_fee_vo['payment_date']	?	date("Y-m-d",$patent_fee_vo['payment_date'])	:	''}
								</td>
								<td><a href="{:U('CaseFee/update','case_fee_id='.$patent_fee_vo['case_fee_id'])}" target="_blank">更新</a></td>
								</tr>
							</volist>
						</tbody>
					</table> 
				</div>
			</div>
        </div>
		-->
    
		

	</block>
<!-- 区块 page 替换结束 --> 