<extend name="Public:base" />
	
	<block name="title">
		<title>更新优先权信息</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="forms">更新</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
						<fieldset>
							<legend>每一项都要填写</legend>
								<!-- 隐藏域开始 --->
								<input type="hidden" class="form-control" id="case_fee_id" name="case_fee_id" value="{$case_fee_list.case_fee_id}">
								<input type="hidden" class="form-control" id="case_id" name="case_id" value="{$case_fee_list.case_id}">
								<!-- 隐藏域结束 --->
							<div class="form-group">
								<label for="case_phase_id" class="col-lg-3 control-label">费用阶段</label>
								<div class="col-lg-4">
									
									<select class="form-control" name="case_phase_id">
										<option value="" {$case_fee_list['case_phase_id']==0	?	'selected="selected"'	:	''}</option>
										<volist name="case_phase_list" id="case_phase_vo">
										<option value="{$case_phase_vo.case_phase_id}" {$case_phase_vo['case_phase_id']==$case_fee_list['case_phase_id'] ? 'selected="selected"' : ''}>{$case_phase_vo.case_phase_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									发证书之前，属于“授权前”，例如申请费；</br>
									发证书之时，属于“授权时”，例如登年印；</br>
									发证书之后，属于“授权后”，例如年费；</br>
									实在无法确定，就选“不确定”</br>
								</div>
							</div>
							<div class="form-group">
								<label for="fee_type_id" class="col-lg-3 control-label">费用名称</label>
								<div class="col-lg-4">
									
									<select class="form-control" name="fee_type_id">
										<option value="" {$case_fee_list['fee_type_id']==0	?	'selected="selected"'	:	''}</option>
										<volist name="fee_type_list" id="fee_type_vo">
										<option value="{$fee_type_vo.fee_type_id}" {$fee_type_vo['fee_type_id']==$case_fee_list['fee_type_id'] ? 'selected="selected"' : ''}>{$fee_type_vo.fee_type_name}，{$fee_type_vo['fee_default_amount']/100}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									系统根据案件类型筛选出关联的费用类型<br>
									如果没找到对应的费用，请检查案件类型是否正确。<br>
									可通过<a href="{:U('FeeType/listPage#addNew')}" target="_blank">这里</a>增加新的费用名称。
								</div>
							</div>
							<div class="form-group">
								<label for="official_fee" class="col-lg-3 control-label">官费金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="official_fee" name="official_fee" value="{$case_fee_list['official_fee']/100}">
								</div>
								<div class="col-lg-5">
									要输入半角的字符，例如12，<br>
									不要输入全角的字符，如１２
								</div>
							</div>
							<div class="form-group">
								<label for="service_fee" class="col-lg-3 control-label">服务费金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="service_fee" name="service_fee" value="{$case_fee_list['service_fee']/100}">
								</div>
								<div class="col-lg-5">
									要输入半角的字符，例如12，<br>
									不要输入全角的字符，如１２
								</div>
							</div>
							<div class="form-group">
								<label for="oa_date" class="col-lg-3 control-label">官文发文日</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="oa_date" name="oa_date" value="{$case_fee_list['oa_date'] ? $case_fee_list['oa_date']|date="Y-m-d",### : ''}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							<div class="form-group">
								<label for="due_date" class="col-lg-3 control-label">期限日</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="due_date" name="due_date" value="{$case_fee_list['due_date'] ? $case_fee_list['due_date']|date="Y-m-d",### : ''}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							
							<div class="form-group">
								<label for="case_payment_id" class="col-lg-3 control-label">缴费单编号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="case_payment_id" name="case_payment_id" value="{$case_fee_list['case_payment_id'] ? $case_fee_list['case_payment_id'] : ''}">
								</div>
								<div class="col-lg-5">
									可通过<a href="{:U('CasePayment/listPage')}" target="_blank">这里</a>查看所有的缴费单号。
								</div>
							</div>
							<div class="form-group">
								<label for="bill_id" class="col-lg-3 control-label">账单编号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="bill_id" name="bill_id" value="{$case_fee_list['bill_id'] ? $case_fee_list['bill_id'] : ''}">
								</div>
								<div class="col-lg-5">
									可通过<a href="{:U('Bill/listPage')}" target="_blank">这里</a>查看所有的账单编号。
								</div>
							</div>
							<div class="form-group">
								<label for="invoice_id" class="col-lg-3 control-label">发票编号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="invoice_id" name="invoice_id" value="{$case_fee_list['invoice_id'] ? $case_fee_list['invoice_id'] : ''}">
								</div>
								<div class="col-lg-5">
									可通过<a href="{:U('Invoice/listPage')}" target="_blank">这里</a>查看所有的账单编号。
								</div>
							</div>
							<div class="form-group">
								<label for="claim_id" class="col-lg-3 control-label">实际收支认领单编号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="claim_id" name="claim_id" value="{$case_fee_list['claim_id'] ? $case_fee_list['claim_id'] : ''}">
								</div>
								<div class="col-lg-5">
									可通过<a href="{:U('Claim/listPage')}" target="_blank">这里</a>查看所有的账单编号。
								</div>
							</div>							
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button type="reset" value="reset" class="btn btn-default"> 取消 </button>
									<button type="submit" value="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>