<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>修改密码</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">

		<!-- Forms
			================================================== -->
	    <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/checkPassword">
						<fieldset>
							<legend>修改密码</legend>
							<div class="form-group">
								<label for="current_password" class="col-lg-3 control-label">目前的密码</label>
								<div class="col-lg-8">
									<input type="password" class="form-control" id="current_password" name="current_password" placeholder="请输入当前的密码">
								</div>								
							</div>
							<div class="form-group">
								<label for="new_password" class="col-lg-3 control-label">新密码</label>
								<div class="col-lg-8">
									<input type="password" class="form-control" id="new_password" name="new_password" placeholder="请输入新密码">
								</div>								
							</div>
							<div class="form-group">
								<label for="confirm_password" class="col-lg-3 control-label">重新输入新密码</label>
								<div class="col-lg-8">
									<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="请重新输入密码">
								</div>								
							</div>
							<div class="form-group">
								<div class="col-lg-4 col-lg-offset-4">
									<button type="submit" class="btn btn-primary btn-block"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>

	</block>
<!-- 区块 page 替换结束 --> 