<extend name="Public:base" />
	
	<block name="title">
		<title>编辑专利案件</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">编辑专利案件</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/edit">
						<fieldset>
							<legend>“盈方案号”是必须的</legend>
							<div class="form-group">
								<label for="our_ref" class="col-lg-3 control-label">盈方案号</label>
								<div class="col-lg-4">
									<input type="hidden" class="form-control" id="case_id" name="case_id" value="{$case_data.case_id}">
									<input type="text" class="form-control" id="our_ref" name="our_ref" value="{$case_data.our_ref}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="case_type_id" class="col-lg-3 control-label">案件类型</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="case_type_id" size="{$case_type_count<$rows_limit ? $case_type_count : $rows_limit}">
										<volist name="case_type_data" id="case_type_vo">
										<option value="{$case_type_vo.case_type_id}" {$case_type_vo['case_type_id']==$case_data['case_type_id']? 'selected="selected"' :''}>{$case_type_vo.case_type_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="follower_id" class="col-lg-3 control-label">跟案人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="follower_id" size="{$member_count<$rows_limit ? $member_count : $rows_limit}">
										<volist name="member_data" id="follower_vo">
										<option value="{$follower_vo.member_id}" {$follower_vo['member_id']==$case_data['follower_id']? 'selected="selected"' :''}>{$follower_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="create_date" class="col-lg-3 control-label">开案日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="create_date" name="create_date" value="{$case_data.create_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="form_date" class="col-lg-3 control-label">提供开案单日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="form_date" name="form_date" value="{$case_data.form_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="client_id" class="col-lg-3 control-label">客源/客户</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="client_id" size="{$client_count<$rows_limit ? $client_count : $rows_limit}">
										<volist name="client_data" id="client_vo">
										<option value="{$client_vo.client_id}" {$client_vo['client_id']==$case_data['client_id']? 'selected="selected"' :''}>{$client_vo.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="client_ref" class="col-lg-3 control-label">对方案号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="client_ref" name="client_ref" value="{$case_data.client_ref}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="applicant_id" class="col-lg-3 control-label">申请人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="applicant_id" size="{$client_count<$rows_limit ? $client_count : $rows_limit }">
										<volist name="client_data" id="applicant_vo">
										<option value="{$applicant_vo.client_id}" {$applicant_vo['client_id']==$case_data['applicant_id']? 'selected="selected"' :''}>{$applicant_vo.client_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="tentative_title" class="col-lg-3 control-label">暂定专利名称</label>
								<div class="col-lg-7">
									<input type="text" class="form-control" id="tentative_title" name="tentative_title" value="{$case_data.tentative_title}">
								</div>
								<div class="col-lg-2">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="handler_id" class="col-lg-3 control-label">处理人</label>
								<div class="col-lg-4">
									<select multiple class="form-control" name="handler_id" size="{$member_count<$rows_limit ? $member_count : $rows_limit}">
										<volist name="member_data" id="handler_vo">
										<option value="{$handler_vo.member_id}" {$handler_vo['member_id']==$case_data['handler_id']? 'selected="selected"' :''}>{$handler_vo.member_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<volist name="case_data['CasePriority']" id="case_priority_vo" key="p">
							<div class="form-group">
								<label for="priority_number" class="col-lg-3 control-label">
									<p>第 {$p} 个优先权的信息</p>
									<p>每个优先权包括：优先权号码、优先权日、优先权国家</p>
								</label>
								
								<div class="col-lg-3">
									<p>优先权国家</p>
									<select multiple class="form-control" name="priority_country_id[]" size="{$country_count<$rows_limit? $country_count: $rows_limit}">
										<option value="none" select="selected"}>没有要求优先权</option>
										<volist name="country_data" id="country_vo">
										<option value="{$country_vo.country_id}" {$country_vo['country_id']==$case_priority_vo['priority_country_id']? 'selected="selected"' :''}>{$country_vo.country_name}</option>
										</volist>
									</select>
								</div>
								
								<div class="col-lg-3">
									<p>优先权号码</p>
									<input type='hidden' class="form-control" id="case_priority_id[]" name="case_priority_id[]" value="{$case_priority_vo.case_priority_id}">
									<input type="text" class="form-control" id="priority_number[]" name="priority_number[]" placeholder="优先权号码" value="{$case_priority_vo.priority_number}">
								</div>
								
								<div class="col-lg-3">
								<p>优先权日期</p>
									<input type="date" class="form-control" id="priority_date[]" name="priority_date[]" placeholder="优先权日期" value="{$case_priority_vo.priority_date|date="Y-m-d",###}">
								</div>
							</div>
							</volist>

							<div class="form-group">
								<label for="priority_number" class="col-lg-3 control-label">新增优先权1</label>
								
								<div class="col-lg-3">
									<select multiple class="form-control" name="priority_country_id[]" size="{$country_count<$rows_limit? $country_count: $rows_limit}">
										<option value="none" select="selected"}>没有要求优先权</option>
										<volist name="country_data" id="country_vo2">
										<option value="{$country_vo2.country_id}"}>{$country_vo2.country_name}</option>
										</volist>
									</select>
								</div>
								
								<div class="col-lg-3">
									<input type='hidden' class="form-control" id="case_priority_id[]" name="case_priority_id[]" value="">
									<input type="text" class="form-control" id="priority_number[]" name="priority_number[]" placeholder="请填入优先权号码">
								</div>
								
								<div class="col-lg-3">
									<input type="date" class="form-control" id="priority_date[]" name="priority_date[]" placeholder="请填入优先权日期">
								</div>
							</div>
							
							<div class="form-group">
								<label for="remarks" class="col-lg-3 control-label">备注</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="remarks" name="remarks" value="{$case_data.remarks}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="related_our_ref" class="col-lg-3 control-label">关联的盈方案号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="related_our_ref" name="related_our_ref" placeholder="关联的盈方案号" value="{$case_data.related_our_ref}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="application_date" class="col-lg-3 control-label">申请日</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="application_date" name="application_date" value="{$case_data.application_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="application_number" class="col-lg-3 control-label">申请号</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="application_number" name="application_number" value="{$case_data.application_number}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="formal_title" class="col-lg-3 control-label">专利名称</label>
								<div class="col-lg-7">
									<input type="text" class="form-control" id="formal_title" name="formal_title" value="{$case_data.formal_title}">
								</div>
								<div class="col-lg-2">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="registration_date" class="col-lg-3 control-label">专利授权日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="registration_date" name="registration_date" value="{$case_data.registration_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							<div class="form-group">
								<label for="expired_date" class="col-lg-3 control-label">专利授权日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="expired_date" name="expired_date" value="{$case_data.expired_date|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									注意
								</div>
							</div>
							
							
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default">Cancel</button>
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>