<extend name="Public:base" />
	
	<block name="title">
		<title>更新缴费单</title>
	</block>
	
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
        <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3 id="forms">更新缴费单</h3>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
						<fieldset>
							<legend>尽量填写完整每一项</legend>
							<!-- 隐藏域开始-->
								<input type="hidden" class="form-control" id="case_payment_id" name="case_payment_id" value="{$case_payment_list.case_payment_id}">
							<!-- 隐藏域结束-->
							<div class="form-group">
								<label for="payment_name" class="col-lg-3 control-label">缴费单名称</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="payment_name" name="payment_name" value="{$case_payment_list.payment_name}">
								</div>
								<div class="col-lg-5">
									格式“2015-04-12专利缴费单”、“2015-04商标缴费单”
								</div>
							</div>
							<div class="form-group">
								<label for="payment_date" class="col-lg-3 control-label">缴费日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="payment_date" name="payment_date" value="{$case_payment_list['payment_date']|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							<div class="form-group">
								<label for="payer_id" class="col-lg-3 control-label">缴费人</label>
								<div class="col-lg-4">
									<select class="form-control" name="payer_id">
										<option value=""></option>
										<volist name="payer_list" id="payer_vo">
										<option value="{$payer_vo.payer_id}" {$payer_vo['payer_id']==$case_payment_list['payer_id']	?	'selected="selected"'	:	''}>{$payer_vo.payer_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									<p>用鼠标选择</p>
								</div>
							</div>
							<div class="form-group">
								<label for="official_fee" class="col-lg-3 control-label">管费金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="official_fee" name="official_fee" value="{$case_payment_list['official_fee']/100}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							
							<div class="form-group">
								<label for="other_fee" class="col-lg-3 control-label">其他费用</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="other_fee" name="other_fee" value="{$case_payment_list['other_fee']/100}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							<div class="form-group">
								<label for="total_amount" class="col-lg-3 control-label">总金额</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="total_amount" name="total_amount" value="{$case_payment_list['total_amount']/100}">
								</div>
								<div class="col-lg-5">
									小数点必须使用英文的“.”
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button type="reset" value="reset" class="btn btn-default"> 取消 </button>
									<button type="submit" value="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>
	</block>