<!-- 继承模板页面 base --> 
<!-- 该模板位于  ./Application\Home\View\Public --> 
<extend name="Public:base" />
	
<!-- 区块 title 替换开始 --> 	
	<block name="title">
		<title>列表</title>
	</block>
<!-- 区块 title 替换结束 --> 	
	
<!-- 区块 page 替换开始 --> 
	<block name="page">
	  
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1>“本案”的基本信息</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading">
					点击“盈方案号”能查看、修改案子的所有信息；表格底部有换页按钮；页面底部可以新增
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								<!-- 暂时关闭
								<th>编号</th>
								-->
								<th>盈方案号</th>
								
								<th>案件类型</th>
								
								<th>跟案人</th>
								
								<th>开案日期</th>
								
								<th>开案单日期</th>
								<th>客户</th>
								<th>客户案号</th>
								<th>申请人</th>
								<th>暂定名称</th>
								
								<th>处理人</th>
								
								<th>申请日</th>
								<th>申请号</th>
								
								<th>正式名称</th>
								<th>公开日</th>
								<th>授权日</th>
								
								<!-- 暂时关闭
								<th>优先权日</th>
								<th>常用操作</th>
								-->
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 patent_list 赋给  patent_list--> 
							
							<tr>
								<!-- 暂时关闭
								<td>{$patent_list.case_id}</td>
								-->
								<td><a href="__CONTROLLER__/view/case_id/{$patent_list.case_id}">{$patent_list.our_ref}</a></td>
								
								<td>{$patent_list['CaseType']['case_type_name']}</td>
								
								<td>{$patent_list['Follower']['member_name']}</td>
								
								<td>{$patent_list.create_date|date="Y-m-d",###}</td>
								
								<td>{$patent_list.form_date|date="Y-m-d",###}</td>
								<td>{$patent_list['Client']['client_name']}</td>
								<td>{$patent_list.client_ref}</td>
								<td>{$patent_list['Applicant']['client_name']}</td>
								
								<td>{$patent_list.tentative_title}</td>
								
								
								<td>{$patent_list['Handler']['member_name']}</td>
								
								<td>{$patent_list.application_date|date="Y-m-d",###}</td>
								<td>{$patent_list.application_number}</td>
								
								<td>{$patent_list.formal_title}</td>
								<!-- 暂时关闭
								<td>

								<td>
									<a href="__APP__/Home/CaseFile/view/case_id/{$patent_list.case_id}">交文管理</a>
									<a href="__APP__/Home/CaseFee/view/case_id/{$patent_list.case_id}"><br>交费管理</a>
									
								</td>
								-->
								<td>{$patent_list.publication_date|date="Y-m-d",###}</td>
								<td>{$patent_list.issue_date|date="Y-m-d",###}</td>
							</tr>
							                 
						</tbody>
					</table> 
					
				</div>
				<form class="form-horizontal" method="post" action="__CONTROLLER__/update">
					<fieldset>
						<legend>修改基本信息？</legend>
						<div class="form-group">
							<div class="col-lg-9 col-lg-offset-3">
								<input	type="hidden" name="case_id" value="{$patent_list.case_id}"></input>
								<button class="btn btn-primary" name="no_btn"value="1">No</button>
								<button type="submit" class="btn btn-default" name="yes_btn" value="1">Yes</button>
							</div>
						</div>
					</fieldset>
				</form>
				
			</div>
        </div>
		
		<!-- Page Header
		================================================== -->
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1>“本案”的优先权信息（共{$case_priority_count}项）</h1>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="panel panel-warning">
				<!-- Default panel contents -->
				<div class="panel-heading">
					“编号”是唯一的
				</div>

				<!-- Table -->
				<div class="bs-component">
					<table class="table table-striped table-hover table-bordered table-condensed">
						<thead>
							<tr class="info">
								
								<th>序号</th>
								
								<th>优先权日</th>
								
								<th>优先权国家/地区</th>
								
								
								<th>常用操作</th>
								
							</tr>
						</thead>
						<tbody>
							<!-- 将controller assign过来的 case_priority_list 赋给  case_priority_vo--> 
							<volist name="case_priority_list" id="case_priority_vo">
							<tr>
								
								<td>{$i}</td>
								
								<td>{$case_priority_vo.priority_date|date="Y-m-d",###}</td>
								
								<td>{$case_priority_vo['Country']['country_name']}</td>
								
								<td>
									<a href="__APP__/Home/CasePriority/update/case_priority_id/{$case_priority_vo.case_priority_id}">更新</a>
									<a href="__APP__/Home/CasePriority/delete/case_priority_id/{$case_priority_vo.case_priority_id}">删除</a>
									
								</td>
								
							</tr>
							</volist>
						</tbody>
					</table> 
					
				</div>
			</div>
        </div>
	  
	  
		<a name="addNew"></a>
		<!-- Forms
			================================================== -->
	    <div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h1 id="forms">新增“本案”的优先权信息</h1>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-9">
				<div class="well bs-component">
					<form class="form-horizontal" method="post" action="__CONTROLLER__/add">
						<fieldset>
							<legend>尽量填写完整每一项</legend>
							
							<div class="form-group">
								<label for="priority_date" class="col-lg-3 control-label">优先权日期</label>
								<div class="col-lg-4">
									<input type="date" class="form-control" id="priority_date" name="priority_date" placeholder="deal_date" value="{$today|date="Y-m-d",###}">
								</div>
								<div class="col-lg-5">
									日期格式为 yyyy-mm-dd，可用鼠标选择
								</div>
							</div>
							<div class="form-group">
								<label for="follower_id" class="col-lg-3 control-label">优先权国家/地区</label>
								<div class="col-lg-4">
									<select class="form-control" name="priority_country_id" size="{$country_count<$row_limit ? $country_count : $row_limit}">
										<volist name="country_list" id="country_vo">
										<option value="{$country_vo.country_id}">{$country_vo.country_name}</option>
										</volist>
									</select>
								</div>
								<div class="col-lg-5">
									可从<a href="__APP__/Home/Country/listPage#addNew" target="_blank">这里</a>添加可用的国家			
								</div>
							</div>
							<div class="form-group">
								<label for="priority_country_number" class="col-lg-3 control-label">优先权号码</label>
								<div class="col-lg-4">
									<input type="text" class="form-control" id="priority_country_number" name="priority_country_number" placeholder="优先权号码">
								</div>
								<div class="col-lg-5">
									注
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-3">
									<button class="btn btn-default"> 取消 </button>
									<button type="submit" class="btn btn-primary"> 确认 </button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
        </div>

	</block>
<!-- 区块 page 替换结束 --> 